<!-- Export Code Modal -->
    <div class="modal fade" id="exportCodeModal" tabindex="-1" aria-labelledby="exportCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exportCodeModalLabel">Export Your Code</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
    
            <!-- Buttons -->
            <div class="d-flex justify-content-start gap-3 mb-3">
                <button class="btn btn-primary" id="downloadModBtn">Download Mod</button>
                <button class="btn btn-secondary" id="downloadSourceBtn">Download Source</button>
            </div>
    
            <!-- Code Viewer -->
            <pre class="bg-dark text-white rounded p-3 overflow-auto" style="max-height: 500px;">
<code class="language-java" id="exportedCodeDisplay">// Translated Java code will appear here...</code>
</pre>
            </div>
        </div>
        </div>
    </div>