<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="/images/logo.webp" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            BlockyFabric
        </a>

        <!-- Button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Documentation</a>
                </li>
                
                <!-- Dropdown for More options -->
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          More
                        </button>
                        <ul class="dropdown-menu">
                          </li><a class="dropdown-item" href="https://discord.gg/aNxdNd3GDk" target="_blank">Help</a></li>
                          <li class="nav-item"><a class="dropdown-item" href="#">Donate</a></li>
                          <li class="nav-otem"><a class="dropdown-item" href="/terms">Terms</a></li>

                        </ul>
                    </div>
                </li>
            </ul>

            <% if (user && user.username) { %>
                <ul class="navbar-nav ms-auto">
                    <% if (user.username === 'simon') { %>
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                    <% } %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown"
                            role="button" data-bs-toggle="dropdown">
                            <% if (user.profileImage) { %>
                                <img src="<%= user.profileImage ? user.profileImage : '/images/users/profileImages/default.png' %>"
                                alt="Profile" class="profile-image">
                            <% } else { %>
                                <img src="/images/users/profileimages/default.png"
                                alt="Profile" class="profile-image">

                            <% } %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            <% } else { %>
                <!-- Login -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="signup nav-link" href="/login">Sign Up</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>