<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mod Wizard - About</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <%- include('../components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('../components/navbar') %> <!-- Navbar -->
    <div class="about-container">
        <h2>About Us</h2>
        <div class="owner-container">
            <div class="contributor owner">
                <img src="/images/contributors/kalbskinder_avatar.png" alt="Kalbskinder" class="contributor-avatar">
                <h3><span class="role owner-role">[Owner]</span> Kalbskinder</h3>
                <p>Creator and Developer of Mod Wizard</p>
                <div class="about-socials">
                    <a href="https://github.com/Kalbskinder" target="_blank">
                        <img src="/images/contributors/socials/github.png" alt="Github" class="about-icon">
                    </a>
                </div>
            </div>
        </div>
        <h3 class="contributors-heading">Contributors</h3>
        <div class="contributors-container">
            <div class="contributor">
                <img src="/images/contributors/pjma_avatar.png" alt="pjma" class="contributor-avatar">
                <h3><span class="role designer-role">[Designer]</span> pjma</h3>
                <p>Designer & Creative Collaborator</p>
                <div class="about-socials">
                    <a href="https://www.youtube.com/channel/UCpXj-SDN851N9Aid_l4wqHA" target="_blank">
                        <img src="/images/contributors/socials/youtube.png" alt="Youtube" class="about-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>