<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mod Wizard - About</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <%- include('../components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('../components/navbar') %> <!-- Navbar -->
    <div class="about-container">
        <h2>About Us</h2>
        <div class="owner-container">
            <div class="contributor owner">
                <div class="contributor-avatar-outline">
                    <img src="/images/contributors/kalbskinder_avatar.webp" alt="Kalbskinder" class="contributor-avatar">
                </div>
                <h3><span class="role owner-role">Owner</span> Kalbskinder</h3>
                <p>Creator and Developer of Mod Wizard</p>
                <div class="about-socials">
                    <a href="https://github.com/Kalbskinder" target="_blank">
                        <img src="/images/contributors/socials/github.png" alt="Github" class="about-icon">
                    </a>
                    <span href="" target="_blank" class="about-tooltip" data-tooltip="kalbskinder">
                        <img src="/images/contributors/socials/discord.png" alt="Discord" class="about-icon">
                    </span>
                </div>
            </div>
        </div>
        <h3 class="contributors-heading">Contributors</h3>
        <div class="contributors-container">
            <div class="contributor">
                <div class="contributor-avatar-outline designer">
                    <img src="/images/contributors/pjma_avatar.webp" alt="pjma" class="contributor-avatar">
                </div>
                <h3><span class="role designer-role">Designer</span> pjma</h3>
                <p>Designer & Creative Collaborator</p>
                <div class="about-socials">
                    <a href="https://www.youtube.com/@wpjma" target="_blank">
                        <img src="/images/contributors/socials/youtube.png" alt="Youtube" class="about-icon">
                    </a>
                    <span href="" target="_blank" class="about-tooltip" data-tooltip="pjma">
                        <img src="/images/contributors/socials/discord.png" alt="Discord" class="about-icon">
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>