<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Dashboard</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../components/navbar') %>  <!-- Navbar --> 
</body>
</html>
