<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Editor</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/editor/editor.css">
    <link rel="stylesheet" href="/styles/editor/blockly.css">
    <%- include('../components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('../components/navbar') %> <!-- Navbar -->

    <xml id="toolbox" style="display: none">
        <category name="Alle Blöcke" expanded="true" colour="#333">
            <label text="Logik"></label>
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
          
            <label text="Mathematik"></label>
            <block type="math_number"></block>
        </category>
    </xml>
    
    <button id="saveButton" class="floating-save-btn"><img class="icon-light" src="/images/icons/save.svg" alt="Save"> Save</button>
    <div id="blocklyDiv"></div>

    <!-- Error Element -->
    <div class="error-slidein" id="error-slidein">
        <div class="error-text">
            <b>An error accoured</b>
            <span class="error" id="error-slidein-text"> Test error</span>
        </div>
        <div class="error-line"></div>
    </div>

    <div class="error-slidein" id="success-slidein">
        <div class="error-text">
            <b>Success!</b>
            <span class="error" id="success-slidein-text"> Test success</span>
        </div>
        <div class="success-line"></div>
    </div>  

<script src="/src/authCheck.js"></script>

<!-- Blockly core & extras -->
<script src="/blockly/blockly_compressed.js"></script>
<script src="/blockly/blocks_compressed.js"></script>
<script src="/blockly/javascript_compressed.js"></script>
<script src="/blockly/msg/en.js"></script>
<script src="https://unpkg.com/blockly/blockly.min.js"></script>

<script src="/src/editor/editor.js"></script>

</body>
</html>
