<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Profile</title>
    <%- include('../components/imports') %>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <%- include('../components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('../components/navbar') %>  <!-- Navbar -->
    <div class="p-4 text-center mt-5" id="container">
        <p>Loading ...</p>
    </div>
        
<script src="./src/usersProfile.js"></script>
</body>
</html>
