<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockyFabric - Home</title>
    <%- include('components/imports') %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <%- include('components/themes') %> <!-- Theme -->
</head>
<body>
    <%- include('components/navbar') %>  <!-- Navbar -->
    <div class="content">
        <h1>Welcome to BlockyFabric <span class="primary">[BETA]</span></h1>
        <p>BlockyFabric is tool that lets anybody create Minecraft Mods with no coding experience.</p>
        <p>Please note that this Tool isn't released yet. You may encounter errors and bugs.</p>
        <p>If you do so, please report them on the <a href="https://github.com/Kalbskinder/BlockyFabric/issues" target="_blank">Github</a> or on the <a href="https://discord.gg/aNxdNd3GDk" target="_blank">Discord</a>. Thank you.</p>
        <div class="button-container">
            <a href="/dashboard"><button type="button" class="btn btn-primary">Get started!</button></a>
            <a href="/docs"><button type="button" class="btn btn-success">Documentation</button></a>
            <a href=""><button type="button" class="btn btn-warning">Donate</button></a>
        </div>
    </div>
</body>
</html>
