.content-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 140px;
    border-radius: 8px;
    background-color: #00000088;
    border: 2px solid #dbdbdb53;
}

.content h1 {
    font-size: 45px;
}

.button-container {
    display: block;
}

.btn-warning {
    background-color: rgb(252, 62, 167);
    color: white;
    border: 1px solid rgb(232, 59, 155);
}

.btn-warning:hover {
    background-color: rgb(220, 43, 126);
    border: 1px solid rgb(232, 59, 155);
    color: white;
}

.btn-warning:active {
    background-color: rgb(220, 43, 126) !important;
    border: 1px solid rgb(232, 59, 155) !important;
    color: white !important;
}

span.primary {
    color: #0275d8;
    font-weight: bold;
}