.nav-link {
    color: rgb(233, 233, 233);
    font-size: 15.5px;
}

a.navbar-brand {
    color: rgb(233, 233, 233);
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item .signup {
    background-color: white;
    color: #0275d8;
    border-radius: 8px;
    margin-left: 5px;
}

.nav-item .signup:hover {
    background-color: #e9e9e9;
    color: #0275d8;
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}


/* profile.ejs */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.profile-container img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.btn-fileupload {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0275d8;
    color: white;
    cursor: pointer;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}