:root {
    --primary-color: #189e42;
    --primary-color-hover: #168f3c;
    --bg-color: #232323;
    --text-color: #ffffff;
    --card-bg-color: #2c2c2c;
}

::selection {
    color: #fff;
    background: var(--primary-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: #444444 !important;
    border-color: #444444 !important;
}

.btn-success {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

span.primary {
    color: var(--primary-color);
}


.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}



/* Modal */

div.modal-content ul.dropdown-menu {
    background-color: var(--card-bg-color) !important;
}

div.modal-content a.dropdown-item {
    color: rgb(255, 255, 255) !important;
}

div.modal-content a.dropdown-item:hover {
    background-color: #424242 !important;
    color: rgb(255, 255, 255) !important;
}

.modal-content button.btn-close {
    filter: invert(100);
}

div.modal-content {
    background-color: var(--bg-color) !important;
}

div.modal-header {
    border-bottom: 1px solid #444444;
}

div.modal-footer {
    border-top: 1px solid #444444;
}

.error-slidein {
    background-color: var(--card-bg-color) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-bg-color);
    color: var(--text-color);
}

div.settings-sidebar li.active {
    background-color: var(--primary-color) !important;
}

div.settings-sidebar li:hover {
    background-color: #222222 !important;
    color: rgb(255, 255, 255);
}

div.settings-sidebar .active:hover {
    background-color: var(--primary-color) !important;
}

div.settings-sidebar li.active {
    color: rgb(255, 255, 255);
}

.card span.view-count {
    color: #a1a1a1;
}

.docs-container div.sidebar {
    background-color: #161616;
}

.docs-container ul li a:hover {
    background-color: #2c2c2c;
}

div.settings-sidebar {
    background-color: #161616;
    border: none;
}

nav.navbar.navbar-expand-lg.bg-primary {
    background-color: var(--primary-color) !important;
}

div.settings-sidebar li.active {
    background-color: var(--primary-color) !important;
}

input.form-control {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid #444444;
}

input.form-control:focus {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid var(--primary-color);
}

div.theme-option {
    border: 1px solid #444444;
}

div.theme-option:hover {
    background-color: #2c2c2c;
}

ul.dropdown-menu {
    background-color: #444444 !important;
}

a.dropdown-item {
    color: var(--text-color) !important;
}

a.dropdown-item:hover, a.dropdown-item:active, a.dropdown-item:focus {
    background-color: var(--primary-color) !important;
}

/* Tables */

.table {
    background-color: #1f1f1f !important;
    color: #e0e0e0;
}

table.table th {
    background-color: var(--primary-color);
    color: white;
}

table.table tr:hover {
    background-color: #444;
}

table.table tr:nth-child(even) {
    background-color: #2a2a2a !important;
}

table.table tr:nth-child(odd) {
    background-color: #1f1f1f !important;
}

span#file-name {
    color: #ffffff;
}