:root {
    --primary-color: #189e42;
    --primary-color-hover: #168f3c;
    --success-color: #007bff;
    --success-color-hover: #0069d9;
    --bg-color: #ffffff;
    --text-color: #000000;
}

::selection {
    color: #fff;
    background: var(--primary-color-hover);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Overwrite docs button because its also green */
.btn-success {
    background-color: var(--success-color) !important;
    border-color: var(--success-color) !important;
}

.btn-success:hover {
    background-color: var(--success-color-hover) !important;
    border-color: var(--success-color-hover) !important;
}

span.primary {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/* Navbar */
div#navbarNav {
    background-color: var(--primary-color);
}

div.container-fluid {
    background-color: var(--primary-color);
}

nav.navbar.navbar-expand-lg.bg-primary {
    background-color: var(--primary-color) !important;
}

/* Settings sidebar */
div.settings-sidebar li.active {
    background-color: var(--primary-color) !important;
}

div.settings-sidebar li:hover {
    background-color: #e6e6e6 !important;
    color: black;
}

div.settings-sidebar .active:hover {
    background-color: var(--primary-color) !important;
}

div.settings-sidebar li.active {
    color: rgb(255, 255, 255);
}

li a.dropdown-item:active {
    background-color: var(--primary-color) !important;
}

/* Dropdown menus overwrite for bootstrap */
ul.dropdown-menu  {
    background-color: rgb(254, 254, 254) !important;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.178);
}

ul.dropdown-menu a.dropdown-item {
    color: var(--text-color);
}

ul.dropdown-menu a.dropdown-item:hover {
    background-color: var(--primary-color);
    color: white;
}

table.table th {
    background-color: var(--primary-color);
    color: white;
}

.card-user {
    background: #868686;
}

div.theme-option img.light {
    border: 1px solid #595959;
}

div.footer {
    color: black;
}